node_modules
.turbo
.expo
.expo-shared
dist
build
.next
.DS_Store
*.log
.env
.env.local
.env.*.local
ios/Pods
ios/build
android/build
android/.gradle
android/app/build
.idea
.vscode/*
!.vscode/extensions.json
coverage
